@import './variables.scss';
@import './functions.scss';

body, html{
    scroll-behavior: smooth;

    .content{
        .nav{
            display: flex;
            flex-direction: row-reverse;

            justify-content: space-between;
            align-items: center;

            height: 70px;
            width: 100%;

            position: fixed;

            left: 0;
            top: 0;

            color: white;
            background: $color1;
            .image{
                flex:0;
                img{
                    height: 50px;

                    border-radius: 50%;

                    padding: 4px 4px;  
                }
            }
            .txt{
                flex: 1;

                padding: 4px 2px;

                display: flex;
                flex-direction: row-reverse;

                justify-content: space-around;
                align-items: center;

                font-family: $arabicFont;

                a{
                    color:white;
                    text-decoration: none;
                }
            }
        }

        .space{
            margin-bottom: 15%;
        }
        .space2{
            margin-bottom: 8%;
        }

        .first{
            @include bgCard('../imgs/img1.png');

            display: flex;

            justify-content: center;
            align-items: center;

            flex-direction: column;

            height: 100vh;  
            
            h3{
                color: $color2;

                font-family: $engF;
                font-size: $bigX;
            }
            p{
                color: $color2;

                font-family: $engF;
                font-size: $smallX;
            }
        }

        .dc-cl{
            text-align: center;

            font-family: $engF;
            font-size: $bigX + 15;

            color:$color2;
        }

        .two{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            margin-left: auto;
            // margin-right: auto;

            padding: 4px 30px;
            width: 50%;

            background: $color1;
            border-radius: 10px;

            box-shadow: 0px 5px 8px black;
            img{
                border-radius: 10px;

                padding: 2px 2px;
            }
            
            .txt{
                color: white;

                width: 100%;
                h3{
                    font-family: $engF;
                    font-size: $bigX;
                }
                p{
                    font-family: $arabicFont;
                    font-size: $smallX;
                }
            }
        }
        .three{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            margin-right: auto;

            padding: 4px 30px;
            width: 50%;

            background: $color1;
            border-radius: 10px;

            box-shadow: 0px 5px 8px black;
            img{
                border-radius: 10px;

                padding: 2px 2px;
            }
            
            .txt{
                color: white;

                width: 100%;
                h3{
                    font-family: $engF;
                    font-size: $bigX;
                }
                p{
                    font-family: $arabicFont;
                    font-size: $smallX;
                }
            }
        }

        .cards{
            border-bottom: 1px solid $color2;
        }

        .sp{
            margin-top: 5%;

            display: flex;
            flex-direction: column;

            color: white;
            background: $color1;

            width: 50%;

            margin-left: auto;
            margin-right: auto;

            text-align: center;

            border-radius: 10px;
            box-shadow: 0px 4px 8px black;

            h3{
                font-family: $engF;
                font-size: $bigX;
            }
            p{
                font-family: $arabicFont;
                font-size: $smallX; 
            }

            .spe{
                display: flex;
                justify-content: space-around;
                .fa-solid{
                    color: white;
                }
            }
        }

        #about{
            display: flex;
            flex-direction: column;

            background: $color2;

            .txt{
                display: flex;

                justify-content: space-between;

                font-family: $engF;

                padding: 15px;
                img{
                    border-radius: 100%;

                    padding: 10px;
                }
            }

            .down{
                text-align: center;
                color: white;

                font-family: $engF;
            }
        }
    }
}